---
import Layout from "../layouts/FPLayout.astro";
import Btn from "../components/Button.astro";
import Signup from "../components/Signup.astro";
const pageTitle = "Home Page";
---

<Layout>
  <div class="main">
    <article>
      <p>
        Hi, I'm Martin and this is my personal space for sharing thoughts and
        learnings. Throughout my life others have reacted to conversations by
        saying "you have so much stuff in your head. You should share it". This
        an attempt to do so.
      </p>
      <p>
        Why could this be of value to you? Because, like you I suspect, I have
        picked up many gems from so many people over the past four or five
        decades. This website is where I shall write them down.
      </p>
      <p>
        I have always admired people who were thinkers and were interested in
        ways of thinking. People like Jock at UCT who shared his thoughts on how
        to go out of business. Or Edward De Bono (the inventor of lateral
        thinking), who I was privileged to spend two days with, learning about
        modes of thinking and "Po". Or Bill Belsen (from the London School of
        Economics), the question design guru, who developed techniques for
        getting beyond obvious platitudes.
      </p>
      <p>
        Why "enigmatic"? - I have often had valuable conversations with
        enigmatic people (enigmatic - "difficult to interpret or understand;
        mysterious").
      </p>
      <p>
        Maverick? Defined as "an independent-minded person". I guess there is
        some maverick in all of us, even those in careers like the military. I
        became interested in independent-mindedness when I read Ricardo Semler's
        book, "Maverick". He loved to do the opposite of what was expected. Such
        as allowing his employees to set their own salaries, whilst justifying
        them to their peers.
      </p>
      <p>
        Then I discovered Peter Cave's book "How To Think Like a Bat" in our
        home library. He poses the question "What would a bat think of us humans
        having to live upside down, walk on only two legs and go through life
        without an echolocation faculty?" In other books and articles he poses
        questions about things we never really think about, like "what is so
        good about democracy?".
      </p>
      <p>
        The danger of this website is that it becomes self-indulgent. That is
        why I have added a comments section below each article. I encourage you
        to leave thoughtful comments, but please respect others who may have
        another view. I encourage you to share your learnings too.
      </p>
      <p>
        I was recently asked who the target audience is. I guess this is an
        opportunity to throw out the rules. I'm not trying to sell anything, so
        the target audience is anyone who gets some value out of it. If you do
        get some value out of it, or it provokes some thought, then "mission
        accomplished".
      </p>
      <h3>Subscribe Here</h3>
      <p>
        If you would like to be alerted to new published articles, just enter
        your name and email below, and you will be notified. You won't be
        inundated with emails - promise.
      </p>
      <Signup />
    </article>
  </div>
</Layout>

<style lang="scss">
  .main {
    margin-top: 3em;
  }
  a {
    color: var(--pico-primary-hover);
    &:hover {
      color: var(--pico-text-selection-color);
    }
  }
</style>
