---
// src/components/ViewShow.astro
import { db } from "../scripts/firebase";

const { slug } = Astro.props;
let views = 0;

try {
  const docRef = db.collection("views").doc(slug);

  // Fetch
  const doc = await docRef.get();
  views = doc.exists ? doc.data()?.count : 1;
} catch (e) {
  console.error("Firebase Error:", e);
}
---

<div class="view-counter" data-slug={slug}>
  <span class="views">{views}</span>
</div>

<style>
  .view-counter {
    display: inline-block;
  }
</style>
